
*
{
    margin: 0;
    padding: 0;
}
html
{
    scroll-behavior: smooth;
}
.container-fluid
{
    /* max-width: 1280px !important; */
    padding: 0px !important;
}
.container-fluid> header> ul > li >a
{
    color: #3a90d5;
}


.cont1ad
{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 4px 200px;
    height: 530px;
    justify-content: center;
    align-items: center;
    
}
.cont1ad::before
{
    content: "";
    position: absolute;
   
    
    /* background-image: url(Images/backimage.jpg) no-repeat center center/cover; */
    clip-path: polygon(0px 0px, 100% 0px, 100% 93%, 69% 100%, 31% 100%, 0px 93%);
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}

.content1ad
{
    color: #fff;
    font-size: 50px;
    text-align: center;
}
.content2ad
{
    color: #fff;
    font-size: 17px;
    text-align: center;
}
.content3ad
{
    text-align: center;
}
.btnad
{
    width: 190px;
    height: 52px;
    background: linear-gradient(180deg, rgba(233,26,47,1) 0%, rgba(184,19,69,1) 100%) !important;
    color: white !important;
    font-size: 20px;
    border: 0px;
    border-radius: 30px;
}
.btnad:hover
{
 transform: scale(1.1);
 
}
/* .fullcont::before
{
content: "";
position: absolute;
background: url('./backimage.jpg') no-repeat center center/cover ;
clip-path: polygon(0px 0px, 100% 0px, 100% 56%, 74% 66%, 25% 67%, 0px 57%);
} */


.featured-3
{
    padding-left: 20px;
    padding-right: 20px;
}



.servicescontainerad
{
    margin-top: 60px;
}
.servicescontainerad> h1
{
text-align: center;
color: rgba(233,26,47,1); 
}
.servicesad
{
    margin: 34px 100px 34px 100px;
display: flex;
}
.servicesad > .boxad 
{
/* padding: 34px; */
margin: 3px 6px;
background: linear-gradient(180deg, rgba(0,210,255,1) 0%, rgba(58,144,213,1) 100%);
border-radius: 30px;
}
.servicesad > .boxad > img
{
height: 60px;
margin: auto;
display: block;
}
.servicesad > .boxad > h2
{
    text-align: center;
    color: white;
    font-family: 'Lora', serif;
    font-family: 'Montserrat', sans-serif;
}
.servicesad > .boxad > p
{
    font-family: 'Bree Serif', serif;
    text-align: center;
    color: white;
    font-family: 'Lora', serif;

}


.featurette
{
    margin: 100px 100px 0px 100px;
}
.featurette>div  >h2
{
    color: #3a90d5;
    font-family: 'Roboto', sans-serif;
}
.featurette >div >p
{
    font-family: 'Lora', serif;
}
.linead
{

    border : 1px #3a90d5;
    height: 3px;
    width: 130px;
    background: linear-gradient(180deg, rgba(0,210,255,1) 0%, rgba(58,144,213,1) 100%);
    margin: 20px 0px 20px 0px;
}

.cont4ad
{
    margin: 70px 100px 0px 100px;
    height: 160px;
    background: linear-gradient(180deg, rgba(0,210,255,1) 0%, rgba(58,144,213,1) 100%);
    border-radius: 30px;
}
.lastboxad
{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    align-items: center;
}
.lastboxad> h2
{
text-align: center;
color: white;
font-family: 'Lora', serif;
font-family: 'Montserrat', sans-serif;
}
.lastboxad>a> button
{
  width: 115px;
  height: 50px;
  background: linear-gradient(180deg, rgba(233,26,47,1) 0%, rgba(184,19,69,1) 100%);
  color: #fff;
  border: 0px solid #3a90d5;
  margin-top: 10px;
  border-radius: 30px;
}
.lastboxad>a> button:hover
{
   transform: scale(1.1);
}
.fonthead
{
    font-family: 'Lora', serif;
    font-family: 'Montserrat', sans-serif;
}
.fonthead2{
    font-family: 'Lora', serif;
}