
*
{
    margin: 0;
    padding: 0;
}
html
{
    scroll-behavior: smooth;
}
.container
{
    max-width: 1280px !important;
    padding: 0px !important;
}
.container> header> ul > li >a
{
    color: #3a90d5;
}

.cont1ea 
{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 4px 200px;
    height: 530px;
    justify-content: center;
    align-items: center;
    
}
.cont1ea::before
{
    content: "";
    position: absolute;
    /* background: url(Images/business.jpg) no-repeat center center/cover; */
    /* clip-path: polygon(0px 0px, 100% 0px, 100% 93%, 69% 100%, 31% 100%, 0px 93%); */
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}

.content1ea
{
    color: white;
    font-size: 70px;
    text-align: center;
}


#featu#3a90d5-3
{
    padding-left: 20px;
    padding-right: 20px;
}

.featuretteea
{
    margin-top: 80px !important;
}
.featuretteheadingea
{
  
   font-family: 'Roboto', sans-serif;
    color: #3a90d5;
}
/* 
#services-container
{
    margin-top: 60px;
}
#services-container> h1
{
text-align: center;
}
#services
{
    margin: 34px 100px 34px 100px;
display: flex;
}
#services .box 
{
padding: 34px;
height: inherit;
width: -webkit-fill-available;
margin: 3px 6px;
background: #3a90d5;
}
#services .box img
{
height: 60px;
margin: auto;
display: block;
}
#services .box h2
{
    text-align: center;
    color: white;
}
#services .box p
{
    font-family: 'Bree Serif', serif;
    text-align: center;
    color: white;

} */


.cont3ea
{
    margin: 100px 100px 0px 100px;
}
.lineea
{

    border : 1px rgba(233,26,47,1) ;
    height: 3px;
    width: 130px;
    background-color: rgba(233,26,47,1) ;
    margin: 20px 0px 20px 0px;
}

.leadea
{
    font-family: 'Lora', serif;
}

.cont4ea
{
    margin: 70px 100px 0px 100px;
    height: 160px;
    background-color: #3a90d5;
}
.last-box
{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    align-items: center;
}
.last-box> h2
{
text-align: center;
color: white;
font-family: 'Lora', serif;
    font-family: 'Montserrat', sans-serif;
}

.last-box> button
{
  width: 115px;
  height: 50px;
  background-color: white;
  color: #3a90d5;
  border: 4px solid #3a90d5;
  margin-top: 10px;
}
.last-box> button:hover
{
    background-color: #3a90d5;
  color: white;
  border: 4px solid white;
}

.cont2ea
{
    margin: 20px 100px;
}
.joinusea
{
    width: 105px;
    height: 45px;
    background: linear-gradient(180deg, rgba(233,26,47,1) 0%, rgba(184,19,69,1) 100%);
    color: white;
    border: 0px solid #3a90d5;
    margin-top: 10px;
    border-radius: 30px;
    font-size: 20px; 
}
.joinusea:hover
{
    transform: scale(1.1);
}
.fonthead
{
    font-family: 'Lora', serif;
    font-family: 'Montserrat', sans-serif;
}
.fonthead2{
    font-family: 'Lora', serif;
}








